<%# #  id            :bigint(8)        not null, primary key
#  name          :string
#  date_of_birth :date
#  breed         :string
#  animal_type   :string
#  customer_id   :bigint(8)
#  created_at    :datetime         not null
#  updated_at    :datetime         not null %>

<%= form_for @patient do |f| %>
  <% if @patient.errors.size > 0 %>
    <div>
      There were errors!
      <ul>
      <% @patient.errors.full_messages.each do |item| %>
        <li><%= item %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  
  <fieldset>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </fieldset>

  <fieldset>
    <%= f.label :animal_type %>
    <%= f.text_field :animal_type %>
  </fieldset>

  <%= f.submit %>
<% end %>