<!DOCTYPE html>
<html>
  <head>
    <title>VMPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>VPMT - Wellpet</div>
      <div>
        <ul>
          <li>Log In</li>
          <li>Somestuff</li>
        </ul>
      </div>
    </header>
    <div class="container">
      <nav>
        <ul>
          <li>Appointments</li>
           <ul>
              <li><%= link_to 'All', appointments_path %></li>
              <li><%= link_to 'New', new_appointment_path %></li>
              <li>Find</li>
            </ul>
          <li>Patients
            <ul>
              <li><%= link_to 'All', patients_path %></li>
              <li><%= link_to 'New', new_patient_path %></li>
              <li>Find</li>
            </ul>
          </li>
          <li>Customers</li>
           <ul>
              <li><%= link_to 'All', customers_path %></li>
              <li><%= link_to 'New', new_customer_path %></li>
              <li>Find</li>
            </ul>
          <li>Admissions</li>
           <ul>
              <li><%= link_to 'All', admissions_path %></li>
              <li><%= link_to 'New', new_admission_path %></li>
              <li>Find</li>
            </ul>
        </ul>
      </nav>
      <main>
      <%= yield %>
      </main>
    </div>
  </body>
</html>
